@import "tailwindcss";
@import "@fontsource/uncut-sans";

:root {
  --bg-color: #0f0f0f;
}

html {
  font-family: "Uncut Sans", sans-serif;
}

.mask-fade {
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
